<template name= "Home">




<div class = "container-fluid">
	<div class ="row">
		<div class ="col-lg-3 col-md-3 col-sm-1"> </div>
		<div class ="col-lg-6 col-md-6 col-sm-10">
			<img id="animation" src="http://media.giphy.com/media/109qivmw8Q6K52/giphy.gif" />
		</div>
		<div class ="col-lg-3 col-md-3 col-sm-1"> </div>
	</div>

  <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>


	<div class ="row">
		<div class ="col-lg-3 col-md-3 col-sm-1"> </div>
		<div class ="col-lg-6 col-md-6 col-sm-10 description">
			<h3> WELCOME TO FUNDREDAPP</h3>
			<p>Draw your unique Fundred Dollar Bill, submit it to the Online Fundred Gallery and be part of the solution to prevent lead poisoning in cities all across America. This nationwide drawing project will honor the value of your action. Make a Fundred! Make a Difference! </p>
			<p>FundredApp is designed and developed by Nil Tuzcu and Ryan-Alexander Thomas.</p>
		</div>

		<div class ="col-lg-3 col-md-3 col-sm-1"> </div>
	</div>





</div>
</template>