<template name= "Home">

	<div class = "container-fluid">
		<div class ="row">
			<div class ="col-lg-3 col-md-3 col-sm-1"> </div>

			<div class ="col-lg-6 col-md-6 col-sm-10">
				<h3 align = "center" style = "color:green">WELCOME TO THE FUNDRED DRAWING TOOL</h3>
				<!--<img id="animation"	src="giphy.gif" />-->
			</div>
			<div class ="col-lg-3 col-md-3 col-sm-1">  </div>
		</div>















	  <!-- Load Facebook SDK for JavaScript -->
	   <div id="fb-root"></div>
	   <script>(function(d, s, id) {
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) return;
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
	     fjs.parentNode.insertBefore(js, fjs);
	   	 }(document, 'script', 'facebook-jssdk'));</script>


		<div class ="row">
			<div class ="col-lg-3 col-md-3 col-sm-1"> </div>
			<div class ="col-lg-6 col-md-6 col-sm-10 description">

				<p style = "color:green">Are you an individual or a group? </p>

				<button class="btn btn-lg btn-primary" style="float:center; margin-top:10px;" id="solo"> Individual </button>
				<button class="btn btn-lg btn-primary" style="float:center; margin-top:10px;" id="group"> Group </button>


			</div>

			<div class ="col-lg-3 col-md-3 col-sm-1"> </div>
		</div>
 <br>

<div style="text-align:center">




		<p style = "color:green">FundredApp is designed and developed by Nil Tuzcu and Ryan-Alexander Thomas.</p>
</div>


	</div>
</template>
