<template name= "navigation">
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
        <!--<span class="icon-bar"></span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
				<span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav mainmenu">
        <li><a href="/"><span class="glyphicon glyphicon-home"> ABOUT</span></a></li>
        <li> <a href="/gallery"><span class="glyphicon glyphicon-th-large"> GALLERY</span></a> </li>

        <li><a href="/google"> <span class="glyphicon glyphicon-globe"> GOOGLE MAPS</span></a></li>
        <!--<li><a href="/submit"> <span class="glyphicon glyphicon-plus"> SUBMIT</span></a></li>-->
        <li><a href="/paint"> <span class="glyphicon glyphicon-plus"> PAINT</span></a></li>
				<li><a href="/mobilepaint"> <span class="glyphicon glyphicon-plus"> MOBILE PAINT</span></a></li>
      </ul>

    <!--  <form class="navbar-form navbar-left" role="search">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>

      </form>-->


      <ul class="nav navbar-nav navbar-right">



       	<div class="navbar-brand">
            <span style="font-style:italic; font-weight:bold"> FUNDREDAPP </span>
            <span> <img style="max-width:90px; margin-top:-.6em;" src="logosmall.png"/></span>
        </div>
        <a href="http://www.fundred.org/"> <small style="color:#05d393"> Click to Learn More About Fundred </small> </a>

      </ul>

    </div><!-- /.navbar-collapse -->


  <!-- Your like button code -->
  <div class="fb-like"
      data-href="https://www.facebook.com/pages/Fundred-Dollar-Bill-Test/397084627159806"
      data-layout="standard"
      data-action="like"
      data-show-faces="true">
  </div>
  <!--END OF FACEBOOK LIKE BUTTON-->

  </div><!-- /.container-fluid -->




</nav>
</template>
