<!--NEW DRAWING TEMPLATE-->

<template name="paint">
  <div class='container-fluid'>

    <button id="drawing-mode" class="btn btn-info">Enter drawing mode</button>
    <div style="display: none;" id="drawing-mode-options">
      <label for="drawing-mode-selector">Mode:</label>
      <select id="drawing-mode-selector">
        <option>Pencil</option>
        <option>Circle</option>
        <option>Spray</option>
        <option>Pattern</option>

        <option>hline</option>
        <option>vline</option>
        <option>square</option>
        <option>diamond</option>
        <option>space</option>
        <option>cats</option>
      </select><br>
      <label for="drawing-line-width">Line width:</label>
      <input type="range" value="10" min="0" max="150" id="drawing-line-width"><br>
      <label for="drawing-color">Line color:</label>
      <input type="color" value="#000000" id="drawing-color"><br>
      <label for="drawing-shadow-width">Line shadow width:</label>
      <input type="range" value="0" min="0" max="50" id="drawing-shadow-width"><br>
    </div>


  	<button class="btn btn-lg btn-primary" style="float:right; margin-top:10px;" id="submit-drawing"> Continue ></button>
    <div >
      <canvas  style="center: 0px; " height='852' width='1000' id="c"></canvas>
    </div>

    <li style="margin-top:10px;"></li>
  </div>

</template>

<!--END OF NEW DRAWING TEMPLATE-->
